.newsLetter{
  padding:20px 0;
  background: #f2f2f2;
  font-family: 'Poppins', sans-serif;
margin-top:60px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;//flex-direction: row;
  .textNewstLetter{
    font-size: 22px;
    text-transform: uppercase;
    color:#d58e32;
  }
  form{
    margin-left:5px;//margin-left:30px;
display: flex;
justify-content: center;
align-items: center;
    span{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background: white;
      justify-content: center;
      align-items: center;
color:#d58e32;
display: flex;
width:40px;
height:40px;
position: relative;
&:before{
  position: absolute;
  width:.5px;
  height:20px;
  content: "";
  border:solid .5px #d0c5c5;
  left:40px;
}
    }
    input{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding:0 5px 0 15px;
      border:none;
    height:40px;
width:236px;
&::placeholder{
font-size: 14px;
font-weight: 200;

}
&:focus{
  border:none;
  box-shadow: none;
  outline: none;
}
&{
  @media all and (min-width:768px){
width:310px;
  }
}
    }
    .btn{
      button{
        background: white;
        color:#d58e32;
        border:none;
        width:40px;
        height:40px;
        border-radius: 5px;
        margin-left:0px;//  margin-left:10px;
        &:focus{
          border:none;
          outline:none;
          box-shadow: none;
        }
      }
    }
    &{
      @media all and (min-width:768px){
  margin-left:30px;
      }
    }
  }
  &{
    @media all and (min-width:768px){
      flex-direction: row;
    }
  }

}
